@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model intex2.Models.BestFinalMerged

<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Add or Edit a Record</h2>
            <h3 class="section-subheading text-muted">Wow you found something really cool. Let's record it.</h3>
        </div>
        <form id="recordForm" method="post">
            <input asp-for="PrimaryId" type="hidden" />
            <div class="row align-items-stretch mb-5">
                <!--Location Information-->
                <div class="row">
                    <h4>Location Information</h4>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="coordinate_id">Location:</label>
                            <input type="text" id="coordinate_id" name="coordinate_id" class="form-control" asp-for="LocationId"><br>
                            <span asp-validation-for="LocationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="squarenorthsouth">Square North/South:</label>
                            <input type="text" id="squarenorthsouth" name="squarenorthsouth" class="form-control" asp-for="Squarenorthsouth"><br>
                            <span asp-validation-for="Squarenorthsouth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="northsouth">North/South:</label>
                            <input type="text" id="northsouth" name="northsouth" class="form-control" asp-for="Northsouth"><br>
                            <span asp-validation-for="Northsouth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="eastwest">East/West:</label>
                            <input type="text" id="eastwest" name="eastwest" class="form-control" asp-for="Eastwest"><br>
                            <span asp-validation-for="Eastwest" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="squareeastwest">Square East/West:</label>
                            <input type="text" id="squareeastwest" name="squareeastwest" class="form-control" asp-for="Squareeastwest"><br>
                            <span asp-validation-for="Squareeastwest" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Structure information-->
                <div class="row">
                    <h4>Structure Information</h4>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="structure_value">Structure Value:</label>
                            <input type="text" class="form-control" asp-for="StructureValue"><br>
                            <span asp-validation-for="StructureValue" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Burial information-->
                <div class="row">
                    <h4>Burial Information</h4>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="burialnumber">Burial Number:</label>
                            <input type="text" class="form-control" asp-for="Burialnumber"><br>
                            <span asp-validation-for="Burialnumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="headdirection">Head Direction:</label>
                            <input type="text" class="form-control" asp-for="HeaddirectionX"><br>
                            <span asp-validation-for="HeaddirectionX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="Length">Length:</label>
                            <input type="text" class="form-control" asp-for="LengthX"><br>
                            <span asp-validation-for="LengthX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="Depth">Depth:</label>
                            <input type="text" class="form-control" asp-for="DepthX"><br>
                            <span asp-validation-for="DepthX" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Personal information-->
                <div class="row">
                    <h4>Personal Information</h4>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="burialnumber">Sex:</label>
                            <input type="text" class="form-control" asp-for="SexX"><br>
                            <span asp-validation-for="SexX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="headdirection">Age At Death:</label>
                            <input type="text" class="form-control" asp-for="AgeatdeathX"><br>
                            <span asp-validation-for="AgeatdeathX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="headdirection">Subpubic Angle:</label>
                            <input type="text" class="form-control" asp-for="SubpubicAngle"><br>
                            <span asp-validation-for="SubpubicAngle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="headdirection">Sciatic Notch:</label>
                            <input type="text" class="form-control" asp-for="SciaticNotch"><br>
                            <span asp-validation-for="SciaticNotch" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="form-group">
                            <label for="headdirection">Face Bundles:</label>
                            <input type="text" class="form-control" asp-for="FacebundlesX"><br>
                            <span asp-validation-for="FacebundlesX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="HaircolorX">Hair color:</label>
                            <input type="text" class="form-control" asp-for="HaircolorX"><br>
                            <span asp-validation-for="HaircolorX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="HeaddirectionX">Goods:</label>
                            <input type="text" class="form-control" asp-for="HeaddirectionX"><br>
                            <span asp-validation-for="HeaddirectionX" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="headdirection">Wrapping:</label>
                            <input type="text" class="form-control" asp-for="WrappingX"><br>
                            <span asp-validation-for="WrappingX" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Preservation information-->
                <div class="row">
                    <h4>Preservation Information</h4>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="burialnumber">Preservation</label>
                            <input type="text" class="form-control" asp-for="PreservationX"><br>
                            <span asp-validation-for="PreservationX" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <!--Other information-->
                <div class="row">
                    <h4>Other Information</h4>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" asp-for="Description"><br>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label for="notes">Notes</label>
                            <input type="text" class="form-control" asp-for="Notes"><br>
                            <span asp-validation-for="Notes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Submit Button-->
            <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Record</button></div>
            <div asp-validation-summary="All"></div>
        </form>
    </div>

</section>