@{
    ViewData["Title"] = "Unsupervised Model";
    ViewData["SubHead"] = "Learn about the burials through an";
    ViewData["Head"] = "Unsupervised Model";
    ViewData["Button"] = "View Findings";
    ViewData["Btn"] = "btn btn-primary btn - xl text - uppercase";
}
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Models</h2>
            <h3 class="section-subheading text-muted">A further look into the data</h3>
        </div>
        <div class="row text-center center">
            <div class="container">
                <div class="row">
                    <img src="~/assets/img/image (1).jpg" style="width:200px" />
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row text-center center">
            <div class="container">
                <div class="row">
                    <img src="~/assets/img/image (2).jpg" style="width:200px" />
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row text-center center">
            <div class="container">
                <div class="row">
                    <img src="~/assets/img/image (3).jpg" style="width:200px" />
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Findings</h2>
            <h3 class="section-subheading text-muted">What does this really mean?</h3>
        </div>
        <div class="row">
            <div class="col">
                <!-- Portfolio item 1-->
                <div>
                    <p>
                        There is evidence to suggest that Egyptian children were sometimes buried closer to the surface than adults. In ancient Egypt, it was common for children to be buried in simple pits or shallow graves, while adults were typically buried in more elaborate tombs or shafts.
                        Archaeological excavations of Egyptian cemeteries have found evidence of this practice. For example, in the cemetery of Akhmim in Upper Egypt, excavations revealed that children were often buried in shallow pits that were only about 50 cm deep, while adults were buried in more substantial tombs or shafts that were several meters deep.
                        Similarly, excavations at the cemetery of Kellis 2 in the Dakhleh Oasis have revealed that children were buried in shallow graves that were often less than a meter deep, while adults were buried in more elaborate tombs and shafts that were up to 3 meters deep.
                        Overall, while burial practices varied across different time periods and regions in ancient Egypt, there is evidence to suggest that children were sometimes buried closer to the surface than adults.
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section>